/* mobile */
@media screen and (max-width: 600px) {
    #pc {
      display: none;
    }
  }
@media screen and (min-width: 600px) {
    #mobile {
      display: none;
    }
  }

/* Animazioni */

@keyframes menuanimato {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 180deg;
    }
}
@keyframes menuinverso {
    0%{
        rotate: 180deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes appareMenu {
    0%{
        opacity: 0;
        top: 0%;
    }
    100%{
        opacity: 1;
        top: 87%;
    }
}
@keyframes appari {
    0%{
        opacity: 0;
        top: 65%;
    }
    100%{
        opacity: 1;
        top: 55%;
    }
}

/* Barra superiore e menù a tendina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    border: solid white 1px;
    background-color: white;
    height: 18%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 2;
    padding: 10px;
}
.menu {
    display: none;
    left: 2.5%;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 2;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f9f9;
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #333;
}
.menu li:hover {
    background-color: rgb(199, 197, 197);
}
.logo:hover + .menu,
.menu:hover {
    display: block;
}
.logo {
    z-index: 2;
    cursor: pointer;
    height: 125%;
    width: 125%;
}
.menu_tendina{
    width: 8%;
}
.menu_tendina:hover .logo {
    animation: menuanimato 0.3s linear forwards;
}
.menu_tendina:not(:hover) .logo {
    animation: menuinverso 0.3s linear forwards;
}
.menu_tendina:hover .menu {
    animation: appareMenu 0.3s linear forwards;
}
#head {
    position: fixed;
    top: 11%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#head .binomio {
    max-width: 75%;
    max-height: auto;
}
/* Introduzione */
#introduzione .sfondo {
    background-image: url(/img/Gif_introduzione.gif);
    background-size: cover;
    background-color: rgb(108, 97, 97);
    width: 100%;
    height: auto;
    display: block;
    margin-top: 150px;
}
#introduzione h1 {
    position: absolute;
    font-size: 36px;
    color: black; 
    margin-top: 18%; 
    left: 11%;
}

#introduzione h2 {
    position: absolute;
    font-size: 24px; 
    color: black; 
    margin-top: 23%; 
    margin-left: 0%;
}

/* Informazioni */
#info .container{
    display: flex;
    flex-direction: row;
}
#info a{
    text-decoration: none;
    color: #333;
}
#info .who{
    border: solid black 1px;
    background-color: aliceblue;
    width: 33%;
    text-align: center;
}
#info .who_img{
    position: absolute;
    display: none;
    top: 55%;
    left: 15%;
}
#info .who:hover .who_img{
    display: initial;
    animation: appari 0.3s linear forwards;;
}
#info .who:hover{
    background-color: rgb(247, 225, 196)
}
#info .where{
    border: solid black 1px;
    background-color: aliceblue;
    width: 33%;
    text-align: center;
}
#map {
    position: absolute;
    display: none;
    height: 34%;
    width: 30%;
    top: 50%;
    left: 60%;
}
#info .where:hover #map{
    display: initial;
    animation: appari 0.3s linear forwards;;
}
#info .where:hover{
    background-color: rgb(247, 225, 196)
}
#info .what{
    border: solid black 1px;
    background-color: aliceblue;
    width: 33%;
    text-align: center;
}
#info .what_img{
    position: absolute;
    display: none;
    width: 20%;
    height: auto;
    top: 55%;
    left: 40%;
}
#info .what:hover .what_img{
    display: initial;
    animation: appari 0.3s linear forwards;
}
#info .what:hover{
    background-color: rgb(247, 225, 196)
}

/* Prodotti */
.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.product {
    float: left;
    width: 30%;
    padding: 20px;
    margin: 1%;
    background-color: #f9f9f9;
    text-align: center;
}
.product img {
    width: 80%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Contatti */
#contact{
    background-image: url(/img/gif_finale.gif);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
#contact h1{
    color: red;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}
#contact a:hover{
    font-size: 101%
}
#contact .mail{
    color: red;
}
span.contatti{
    color: #fff;
    text-decoration: none;
}

/* whatsapp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
}

/* Mobile */
@keyframes menuanimato_mobile {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 180deg;
    }
}
@keyframes menuinverso_mobile {
    0%{
        rotate: 180deg;
    }
    100%{
        rotate: 0deg;
    }
}
        @keyframes appari2 {
    0%{
        opacity: 0;
        top: 0px;
    }
    100%{
        opacity: 1;
        top: 50px;
    }
}

    .navbar_mobile {
        background-color: white;
        color: black;
        position: fixed;
        width: 100%;
        height: 10%;
        z-index: 1000;
    }

    .navbar_mobile .menu_tendina_mobile {
        position: absolute;
        padding: 10px;
    }

    .navbar_mobile .menu_tendina_mobile ul {
        list-style: none;
        position: absolute;
        text-align: center;
        left: 25px;
        padding: 0;
        margin: 0;
        background-color: #f9f9f9;
    }

    .navbar_mobile .menu_tendina_mobile ul li {
        display: row;
        margin-right: 20px;
        padding: 10px;
    }
    .menu_mobile{
        display: none;
    }

    .navbar_mobile .menu_tendina_mobile ul li a {
        color: black;
        text-decoration: none;
    }

    .navbar_mobile .menu_tendina_mobile ul li a:hover {
        text-decoration: underline;
    }

    .logo_mobile:hover + .menu_mobile,
    .menu_mobile:hover {
        display: block;
    }
    .menu_tendina_mobile:hover .logo_mobile {
        animation: menuanimato_mobile 0.3s linear forwards;
    }
    .menu_tendina_mobile:not(:hover) .logo_mobile {
        animation: menuinverso_mobile 0.3s linear forwards;
    }
    .menu_tendina_mobile:hover .menu_mobile{
        animation: appari2 0.3s linear forwards;
    }

    #head_mobile {
        position: relative;
        top: 20px;
        text-align: center;
        padding: 10px;
    }

    .content {
        padding-top: 70px;
    }

    .logo_mobile {
        width: 100%;
        max-width: 110px;
        height: 100%;
        cursor: pointer;
    }

    .binomio {
        max-width: 250px;
        height: auto;
    }

    .intro {
        background-image: url(img/Gif_introduzione.gif);
        background-size: cover;
        padding: 20px;
        text-align: left;
        font-size: 14px;
    }

    .intro .container_mobile {
        z-index: 1;
        max-width: 100%;
    }

    .container_mobile {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    }
    .product {
        float: left;
        width: 30%;
        padding: 20px;
        margin: 1%;
        background-color: #f9f9f9;
        text-align: center;
    }
    .product img {
        width: 80%;
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    #contact{
    background-image: url(/img/gif_finale.gif);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
#contact h1{
    color: red;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}
#contact a:hover{
    font-size: 101%
}
#contact .mail{
    color: red;
}
span.contatti{
    color: #fff;
    text-decoration: none;
}